/* Импортирование шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap'); /* Шрифт: Comfortaa */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap'); /* Шрифт: Roboto */

* {
    background: #2B2B2B;
}

#block {
    margin: auto;
    margin-top: 15%;
    width: auto;
}

h1 {
    text-align: center;
    color: #f4f4f4;
    font-size: 32pt;
    font-family: 'Comfortaa', cursive;
}

p {
    text-align: center;
    color: #f4f4f4;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

hr {
    align: center;
    color: #C2C2C2;
    width: 25%;
}

#fot {
    color: #C2C2C2;
    font-size: 12pt;
}