header {
    background-color: #f8f9fa;
}
header > .row{
    padding: 1%;
}

footer {
    background-color: #f8f9fa;
    padding: 1%;
}

@media (max-width: 1280px) {
    header > .row > .col-1 {
        display: none;
    }
    header > .row > .col-sm{
        margin-top: 10px;
    }
    footer {
        padding-bottom: 2%;
    }
    .col-sm {
        margin-top: 10px;
    }
}